<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>ClientId</key>
        <string>XKZvoDHSgI1xtrokTS6Xgc7qBQveB7FX</string>
        <key>Domain</key>
        <string>dvdblk.eu.auth0.com</string>
    </dict>
</plist>
